---
layout: default
---

{%- include about.html -%}
<section class="home_content">
{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<ul class="posts">
  <li>
    <h1 id="posts-label">Paper reviews</h1>
  </li>

  {% assign posts = site.papers | sort: 'date' | reverse %}
  {%- for post in posts -%}
    <li>
      {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title | escape }}</h2>
      </a>
      <div class="post-meta">
        <div class="post-date">
          <i class="icon-calendar"></i>
          {{ post.date | date: date_format }}
        </div>
        {%- if post.categories.size > 0-%}
        <ul class="post-categories">
          {%- for tag in post.categories -%}
          <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
      {%- if site.show_excerpts -%}
      <div class="post">
          {{ post.excerpt }}
      </div>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
</section>